/* - White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%) */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  border-radius: 12px;
  display: block;
}

.card {
  width: 325px;
  background-color: #fff;
  padding: 15px;
  border-radius: 12px;
}

.text {
  text-align: center;
  padding: 30px 10px 20px;
}

h2 {
  margin-bottom: 15px;
  font-weight: 700;
}
